<footer class="page-footer font-small pt-4" style="background-image: linear-gradient( 109.6deg,  rgba(5,84,94,1) 16%, #bbb 91.1% );">
<div class="container">
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <h4 class="text-white">Siga-nos nas Redes Sociais</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <ul class="social-networking">
                <li>
                    <a href="https://www.linkedin.com/in/gustavovilela849156139/" target="_blank" class="LinkedIn">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/gutusmao12" target="_blank" class="GitHub">
                    <i class="fa fa-github" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/tavinhovilela/" target="_blank" class="Instagram">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="footer-copyright bg-dark text-center py-3">
    <span class="text-light">
        Todos os direitos reservados: Gustavo Vilela ©
    </span>
</div>
</footer>
